The below code is written to wrangle the **"Australian Food Composition Database"**: https://www.foodstandards.gov.au/science/monitoringnutrients/afcd/Pages/downloadableexcelfiles.aspx

The database consists of six datasets as follows: 


- Food Measure.
- Food group information.
- Food Nutrient.
- Food Details.
- Recipes File.
- Food Retention Factor.


The datasets are cleaned and prepared to be used on our website Food Save Hero.

The <u>primary key</u> that links the five datasets is the Public Food Key.

In [1]:
#import required library
import pandas as pd
import numpy as np 
#to install read_excel extension uncomment the below line 
#pip install xlrd

## 1.Food Measure

The Food Measure file contains information about food and its corresponding suitable Adult portions. 
The below code aims to achive the following:

- Clean the data file by extracting only the relevant columns. 
- Adding a `Food Category` column that can be used to generate a filter on the website.

In [183]:
#open the data file
measures=pd.read_excel('Release 1 - Measures file.xlsx')

In [184]:
#view the number of coloumns and rows 
measures.shape

(375, 13)

In [185]:
#view the first few rows
measures.head(2)

,Public Food Key,Food Survey ID,Food Name,Measure ID,Quantity,Measure description 1,Measure description 2,Measure description 3,Measure description 4,Weight in grams,Volume in mLs,Derivation,Measure derivation description
0,F000996,29101,"Beer, high alcohol (5% v/v & above)",74551,1,can,NaN,NaN,NaN,379.0,375,Estimated,Assumes 375mL based on FSANZ internet search. ...
1,F000994,29101,"Beer, full strength (alcohol 4-4.9% v/v)",74554,1,can,NaN,NaN,NaN,379.0,375,Estimated,Assumes 375mL based on FSANZ internet search. ...

In [186]:
#drop unqanted columns 
measures=measures.drop(['Measure description 2', 'Measure description 3','Measure description 4',
               'Derivation','Measure derivation description'], axis=1)

In [187]:
#view the first few rows of the dataframe with relevant columns
measures.head(2)

,Public Food Key,Food Survey ID,Food Name,Measure ID,Quantity,Measure description 1,Weight in grams,Volume in mLs
0,F000996,29101,"Beer, high alcohol (5% v/v & above)",74551,1,can,379.0,375
1,F000994,29101,"Beer, full strength (alcohol 4-4.9% v/v)",74554,1,can,379.0,375

# 2.Food Group Information

Now, we want to add the `Food Category` column. To do that we will retrive the food category information from the file <u>Food group information.xlsx</u>

Open the data file that contains the category of each food under `Food group name`.

In [188]:
#get the dataset excluding the first row containing the subject
info=pd.read_excel('Release 1 - Food group information.xlsx',skiprows=[0])

In [189]:
info.head(2)

,Food group ID,Food group name,Number of foods in Release 1,Unnamed: 3,Inclusions,Additional information
0,11.0,Non-alcoholic beverages,47.0,Profiles are generally derived by nutrient ana...,111 - Tea,Data for green tea is reported in Release 1 fo...
1,NaN,NaN,NaN,NaN,112 - Coffee and coffee substitutes,Data for coffee powder and espresso have been ...

In [190]:
#select the relvant columns 
info=info[['Food group ID','Food group name','Inclusions']]

In [191]:
#view the first few rows
info.head(2)

,Food group ID,Food group name,Inclusions
0,11.0,Non-alcoholic beverages,111 - Tea
1,NaN,NaN,112 - Coffee and coffee substitutes

Columns Description:
- `Food group ID`: contains the group number
- `Food group name`: contains the group name
- `Inclusions`: includes the food items responding to the category

#### Alot of rows contain Nan Values. By filtering the rows to remove the NaN values, we can see the categories of each food item.

<u>For instance</u>:
- `Food group ID`: If the **food group ID** is 11.0 the **food group name** is <u>non-alcholic beverages</u>. The items that fall under this category start with 11 such as: Tea. 

The same logic continues for the other food groups.

In [192]:
#filter the dataframe
filtered_info = info[info['Food group ID'].notnull()]

After the filter has been applied, we can see the relevance between the columns.

In [193]:
#view the filtered dataframe
filtered_info

,Food group ID,Food group name,Inclusions
0,11.0,Non-alcoholic beverages,111 - Tea
8,12.0,Cereals and cereal products,121 - Flours and other cereal grains and starc...
14,13.0,Cereal based products and dishes,131 - Sweet biscuits
20,14.0,Fats and oils,141 - Butters
25,15.0,Fish and seafood products and dishes,151 - Fin fish (excluding commercially sterile)
30,16.0,Fruit products and dishes,161 - Pome fruit
38,17.0,Egg products and dishes,171 - Eggs
40,18.0,"Meat, poultry and game products and dishes","181 - Beef, sheep and pork, unprocessed"
48,19.0,Milk products and dishes,"191 - Dairy milk (cow, sheep and goat)"
55,20.0,Dairy & meat substitutes,"201 - Dairy milk substitutes, unflavoured"
59,21.0,Soup,212 - Dry soup mix
61,22.0,Seed and nut products and dishes,221 - Seeds and seed products
63,23.0,Savoury sauces and condiments,231 - Gravies and savoury sauces
66,24.0,Vegetable products and dishes,"240 - Wild harvested vegetables, and vegetable..."
75,25.0,Legume and pulse products and dishes,251 - Mature legumes and pulses
77,26.0,Snack foods,261 - Potato snacks
81,27.0,Sugar products and dishes,"271 - Sugar, honey and syrups"
84,28.0,Confectionery and cereal/nut/fruit/seed bars,281 - Chocolate and chocolate-based confection...
87,29.0,Alcoholic beverages,291 - Beers
91,31.0,Miscellaneous,"311 - Yeast, and yeast vegetable or meat extra..."
95,32.0,Infant formulae and foods,321 - Infant formulae and human breast milk
96,34.0,"Reptiles, amphibia and insects",341 - Reptiles

Now we can add a `Food Category` column to the **measures** dataframe. The Food Category column is updated based on the numbers in Food Survey ID.

In [194]:
#create a new column Food Category and update the values to match the Food group name
#by setting a condition based on the number range of Food Survey ID

#Non-alcoholic beverages
measures.loc[(measures['Food Survey ID'] >= 11501) & (measures['Food Survey ID']< 12101),
             'Food Category'] = 'Non-alcoholic beverages'

#Cereals and cereal products
measures.loc[(measures['Food Survey ID'] >= 12101) & (measures['Food Survey ID']< 13101),
             'Food Category'] = 'Cereals and cereal products'

#Cereal based products and dishes
measures.loc[(measures['Food Survey ID'] >= 13101) & (measures['Food Survey ID']< 14101),
             'Food Category'] = 'Cereal based products and dishes'

#Fats and oils
measures.loc[(measures['Food Survey ID'] >= 14101) & (measures['Food Survey ID']< 15101),
             'Food Category'] = 'Fats and oils'

#Fish and seafood products and dishes
measures.loc[(measures['Food Survey ID'] >= 15101) & (measures['Food Survey ID']< 16101),
             'Food Category'] = 'Fish and seafood products and dishes'

#Fruit products and dishes
measures.loc[(measures['Food Survey ID'] >= 16101) & (measures['Food Survey ID']< 17101),
             'Food Category'] = 'Fruit products and dishes'

#Egg products and dishes
measures.loc[(measures['Food Survey ID'] >= 17101) & (measures['Food Survey ID']< 18101),
             'Food Category'] = 'Egg products and dishes'

#Meat, poultry and game products and dishes
measures.loc[(measures['Food Survey ID'] >= 18101) & (measures['Food Survey ID']< 19101),
             'Food Category'] = 'Meat, poultry and game products and dishes'

#Milk products and dishes
measures.loc[(measures['Food Survey ID'] >= 19101) & (measures['Food Survey ID']< 20101),
             'Food Category'] = 'Milk products and dishes'

#Dairy & meat substitutes
measures.loc[(measures['Food Survey ID'] >= 20101) & (measures['Food Survey ID']< 21101),
             'Food Category'] = 'Dairy & meat substitutes'

#Soup
measures.loc[(measures['Food Survey ID'] >= 21101) & (measures['Food Survey ID']< 22101),
             'Food Category'] = 'Soup'

#Seed and nut products and dishes
measures.loc[(measures['Food Survey ID'] >= 22101) & (measures['Food Survey ID']< 23101),
             'Food Category'] = 'Seed and nut products and dishes'

#Savoury sauces and condiments
measures.loc[(measures['Food Survey ID'] >= 23101) & (measures['Food Survey ID']< 24101),
             'Food Category'] = 'Savoury sauces and condiments'

#Vegetable products and dishes
measures.loc[(measures['Food Survey ID'] >= 24101) & (measures['Food Survey ID']< 25101),
             'Food Category'] = 'Vegetable products and dishes'

#Legume and pulse products and dishes
measures.loc[(measures['Food Survey ID'] >= 25101) & (measures['Food Survey ID']< 26101),
             'Food Category'] = 'Legume and pulse products and dishes'

#Snack foods
measures.loc[(measures['Food Survey ID'] >= 26101) & (measures['Food Survey ID']< 27101),
             'Food Category'] = 'Snack foods'

#Sugar products and dishes
measures.loc[(measures['Food Survey ID'] >= 27101) & (measures['Food Survey ID']< 28101),
             'Food Category'] = 'Sugar products and dishes'

#Confectionery and cereal/nut/fruit/seed bars
measures.loc[(measures['Food Survey ID'] >= 28101) & (measures['Food Survey ID']< 29101),
             'Food Category'] = 'Confectionery and cereal/nut/fruit/seed bars'

#Alcoholic beverages
measures.loc[(measures['Food Survey ID'] >= 29101) & (measures['Food Survey ID']< 31101),
             'Food Category'] = 'Alcoholic beverages'


#Miscellaneous
measures.loc[(measures['Food Survey ID'] >= 31101) & (measures['Food Survey ID']< 32101),
             'Food Category'] = 'Miscellaneous'

#Infant formulae and foods
measures.loc[(measures['Food Survey ID'] >= 32101) & (measures['Food Survey ID']< 33101),
             'Food Category'] = 'Infant formulae and foods'

#Reptiles, amphibia and insects
measures.loc[(measures['Food Survey ID']>= 33101),
             'Food Category'] = 'Reptiles, amphibia and insects'

In [196]:
#rearrange column and view the final output
measures=measures[['Public Food Key','Food Survey ID','Food Category','Food Name','Measure ID','Quantity',
                  'Measure description 1','Weight in grams','Volume in mLs']]

In [197]:
#view the final frame
measures.head(3)

,Public Food Key,Food Survey ID,Food Category,Food Name,Measure ID,Quantity,Measure description 1,Weight in grams,Volume in mLs
0,F000996,29101,Alcoholic beverages,"Beer, high alcohol (5% v/v & above)",74551,1,can,379.0,375
1,F000994,29101,Alcoholic beverages,"Beer, full strength (alcohol 4-4.9% v/v)",74554,1,can,379.0,375
2,F000995,29101,Alcoholic beverages,"Beer, full strength (alcohol 4-4.9% v/v), carb...",74972,1,can,379.0,375

In [253]:
#view the shape of the data file 
measures.shape

(375, 9)

In [199]:
#rename columns for ease of use in the website Database stage
measures.rename(columns={'Public Food Key': 'Public_Food_key','Food Survey ID': 'Food_Survey_ID',
                         'Food Category':'Food_Category','Food Name':'Food_Name',
                         'Measure ID':'Measure ID','Measure description 1':'Measure_desc',
                         'Weight in grams': 'Weight_grams','Volume in mLs':'Volume_mLs'}, inplace=True)

In [200]:
measures.to_csv('measures_adult.csv',index=False)

### Use the adult portion information to derive the kids portion

Update the table to include food portion for three categories: 
- Toddlers (1-3 years)
- Children (4-10 years)
- Adolescents (11-18 years)

The information used in this section is derived from The Australian Dietary Guidelines 2013.
https://nutritionaustralia.org/fact-sheets/australian-dietary-guidelines-recommended-daily-intakes/#toddlers

## 2.Food Nutrient

This dataset contains different food with the nutrient values for each kind. The dataset can be used to provide the website users with the food nutrient informatin. The final version of the file consists of 178 nutrient factors. These factors can be ranked according to importance and relevance to user when the dataset is in use.

In [201]:
#open the file and specify the required sheet 
nutrient = pd.read_excel('Release 1 - Food nutrient database.xlsx', 
                                sheet_name='All solids & liquids per 100g')

In [202]:
#view the shape for the dataframe 
nutrient.shape

(1535, 252)

In [203]:
nutrient.head(2)

,Public Food Key,Classification,Food Name,"Energy, with dietary fibre","Energy, without dietary fibre",Moisture (water),Protein,Nitrogen,Total Fat,Ash,...,Proline,Unnamed: 243,Serine,Unnamed: 245,Threonine,Unnamed: 247,Tyrosine,Unnamed: 249,Valine,Unnamed: 251
0,NaN,NaN,NaN,kJ,kJ,g,g,g,g,g,...,mg/g N,mg,mg/g N,mg,mg/g N,mg,mg/g N,mg,mg/g N,mg
1,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [204]:
#drop the first row 
nutrient = nutrient.drop(0)

In [205]:
#drop columns with NaN as all values 
nutrient=nutrient.dropna(axis='columns',how='all')

In [206]:
#drop unnamed columns 
#create a conditin to drop columns
dropList = [i for i in nutrient.columns if i.startswith('Unnamed')]

In [207]:
#drop the columns using the dropList columns
nutrient.drop(dropList,axis=1,inplace=True)

In [208]:
#view the shape of the dataframe
nutrient.shape

(1534, 181)

In [209]:
nutrient.head(2)

,Public Food Key,Classification,Food Name,"Energy, with dietary fibre","Energy, without dietary fibre",Moisture (water),Protein,Nitrogen,Total Fat,Ash,...,Isoleucine,Leucine,Lysine,Methionine,Phenylalanine,Proline,Serine,Threonine,Tyrosine,Valine
1,F002258,31302.0,"Cardamom seed, dried, ground",1236,1012,8.3,10.8,1.72,6.7,5.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,F002893,31302.0,"Chilli (chili), dried, ground",1280,1002,10.8,13.4,2.14,14.3,11.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [210]:
#select specific columns 
nutrient=nutrient[['Public Food Key','Classification','Food Name','Energy, with dietary fibre',
                   'Energy, without dietary fibre','Moisture (water)','Protein','Total Fat',
                   'Alcohol','Total sugars','Added sugars','Calcium (Ca)','Sodium (Na)',
                   'Vitamin C','Vitamin E']]

In [255]:
#rename columns
nutrient=nutrient.rename(columns={'Public Food Key':'Public_Food_Key','Classification':'Food_Survey_ID',
                                  'Food Name':'Food_Name','Total Fat':'Total_Fat','Total_sugars':'Total_sugars'})

In [256]:
#merge nutrient values with food portion to get nutrious values of the food items 
result= pd.merge(nutrient, measures, how='inner')

In [264]:
#convert from float to integer to match the data type of the same column in measures datafram
result.Food_Survey_ID=result.Food_Survey_ID.astype(int)

In [267]:
#select relevant columns 
MergedNutrient=result[['Public_Food_Key', 'Food_Survey_ID', 'Food_Name',
       'Energy, with dietary fibre', 'Energy, without dietary fibre',
       'Moisture (water)', 'Protein', 'Total_Fat', 'Alcohol', 'Total sugars',
       'Added sugars', 'Calcium (Ca)', 'Sodium (Na)', 'Vitamin C',
       'Vitamin E']]

In [269]:
#view the first few rows of the dataframe
MergedNutrient.head(4)

,Public_Food_Key,Food_Survey_ID,Food_Name,"Energy, with dietary fibre","Energy, without dietary fibre",Moisture (water),Protein,Total_Fat,Alcohol,Total sugars,Added sugars,Calcium (Ca),Sodium (Na),Vitamin C,Vitamin E
0,F000996,29101,"Beer, high alcohol (5% v/v & above)",174,174,91.9,0.5,0,4.5,0.2,0,4,4,0,0
1,F000994,29101,"Beer, full strength (alcohol 4-4.9% v/v)",152,152,93,0.4,0,3.7,0,0,4,5,0,0
2,F000995,29101,"Beer, full strength (alcohol 4-4.9% v/v), carb...",126,126,94.6,0.3,0,3.6,0,0,3,4,0,0
3,F001006,29102,"Beer, mid-strength (alcohol 3-3.9% v/v)",128,128,94.1,0.3,0,3,0,0,4,3,0,0

In [270]:
#save to CSV
MergedNutrient.to_csv('Nutrient_Value.csv',index=False)